@font-face {
    font-family: Minecraft;
    src: url(/font/MinecraftRegular.otf);
}

body {
  font-family: Minecraft;
}

.dropdown-menu {
  background: lightgrey;
}

h2 {
    font-family: Minecraft;
}

a {
    font-family: Minecraft;
    color: black;
}

p {
    font-family: Minecraft;
}

.bg-primary {
    background-color: lightblue !important;
}

.nav-item {
    text-decoration: underline;
}

/* https://pixelcorners.lukeb.co.uk/?radius=10&multiplier=4 */
.pixel-corners-radius-10-px {
    clip-path: polygon(
      0px calc(100% - 28px),
      4px calc(100% - 28px),
      4px calc(100% - 20px),
      8px calc(100% - 20px),
      8px calc(100% - 12px),
      12px calc(100% - 12px),
      12px calc(100% - 8px),
      20px calc(100% - 8px),
      20px calc(100% - 4px),
      28px calc(100% - 4px),
      28px 100%,
      calc(100% - 28px) 100%,
      calc(100% - 28px) calc(100% - 4px),
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 20px) calc(100% - 8px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 12px) calc(100% - 12px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 8px) calc(100% - 20px),
      calc(100% - 4px) calc(100% - 20px),
      calc(100% - 4px) calc(100% - 28px),
      100% calc(100% - 28px),
      100% 28px,
      calc(100% - 4px) 28px,
      calc(100% - 4px) 20px,
      calc(100% - 8px) 20px,
      calc(100% - 8px) 12px,
      calc(100% - 12px) 12px,
      calc(100% - 12px) 8px,
      calc(100% - 20px) 8px,
      calc(100% - 20px) 4px,
      calc(100% - 28px) 4px,
      calc(100% - 28px) 0px,
      28px 0px,
      28px 4px,
      20px 4px,
      20px 8px,
      12px 8px,
      12px 12px,
      8px 12px,
      8px 20px,
      4px 20px,
      4px 28px,
      0px 28px
    );
}

/* https://pixelcorners.lukeb.co.uk/?radius=10&multiplier=4&border=1&border_width=1&border_color=#000000 */
.pixel-corners-radius-10-px-border-1px,
.pixel-corners-radius-10-px-border-1px--wrapper {
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px);
  position: relative;
}
.pixel-corners-radius-10-px-border-1px {
  border: 4px solid transparent;
}
.pixel-corners-radius-10-px-border-1px--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-radius-10-px-border-1px--wrapper .pixel-corners-radius-10-px-border-1px {
  display: block;
  clip-path: polygon(4px 28px,
    8px 28px,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    28px 8px,
    28px 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 4px),
    28px calc(100% - 4px),
    28px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 28px),
    4px calc(100% - 28px));
}
.pixel-corners-radius-10-px-border-1px::after,
.pixel-corners-radius-10-px-border-1px--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px,
    0px 50%,
    4px 50%,
    4px 28px,
    8px 28px,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    28px 8px,
    28px 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 4px),
    28px calc(100% - 4px),
    28px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 28px),
    4px calc(100% - 28px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners-radius-10-px-border-1px::after {
  margin: -4px;
}

#bdyMainWindow {
    width: 75%;
    margin: 1em auto;
    text-align: center;
    height: fit-content;
    background-image: url("/img/background.png");
    background-size: cover;
}

#dvMainWindow {
    padding: 1em;
    background-color: lightgray;
    border-radius: 5px;
}

#dvHeader {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: .125em;
    border-radius: 5px;
}

#dvHeader a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#dvHeader li a {
	font-weight: normal;
}
