@font-face {
    font-family: Minecraft;
    src: url(/font/MinecraftRegular.otf);
}

h2 {
    font-family: Minecraft;
}

a {
    font-family: Minecraft;
    color: black;
}

p {
    font-family: Minecraft;
}

.bg-primary {
    background-color: lightblue !important;
}

.nav-item {
    text-decoration: underline;
}

#bdyMainWindow {
    width: 75%;
    margin: 1em auto;
    text-align: center;
    height: fit-content;
    background-color: aliceblue;
}

#dvMainWindow {
    padding: 1em;
}

#dvHeader {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: .125em;
    border-radius: 5px;
}

#dvHeader a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#dvHeader li a {
	font-weight: normal;
}

#dvMainWindow {
    background-color: lightgray;
    border-radius: 5px;
}

#tbImageGallery {
    width: 100%;
}

#tbImageGallery td {
    padding: .5em;
}

#tbImageGallery img {
    width: 100%;
}